/*----------FONTS--------*/
@font-face {
    font-family: "Signika-SemiBold";
    src: url('../../public/fonts/Signika-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Signika-Light';
    src: url('../../public/fonts/Signika-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Signika-Medium';
    src: url('../../public/fonts/Signika-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Signika';
    src: url('../../public/fonts/Signika-Regular.ttf') format('truetype');
}
/*----------FONTS--------*/
html,body{
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-family: Signika, serif;
    color: #272A3D;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.navBar{
    background-color: #272A3D;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 1.5vh;
    font-size: 20pt;
}

a{
    color: white;
    text-decoration: none;
    font-family: Signika, serif;
}

.coloredLine{
    width: 100%;
    height: 0.0625rem;
    background: #272A3D;
}

.navMenu{
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
}

.dropdownMenu{
    background-color: #434867;
    position: absolute;
    block-size: auto;
    border-radius: 15px 0px 15px 15px;
    padding: 1vh;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    right: 3%;
}

.mainContent{
    display: flex;
    flex-flow: column nowrap;
    gap: 5rem;
}

.mainText h1{
    font-size: 46px;
}
.mainText p{
    font-size: 20px;
    padding-right: 20%;
}
.createQuizzP{
    font-size: 20px;
    text-align: center;
}

.textLogo{
    font-size: larger;
}

.recentQuizzes{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.quizzText{
    font-family: Signika-Light, serif;
    font-size: 40px;
}

.signinSignout {
    display: flex;
    justify-content: center;
    gap: 12%;
}

.sideText h1 {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.indexButtonHomePage{
    background-color: #272A3D;
    color: white;
    font-size: 32px;
    padding: 20px 50px;
    border-radius: 10rem;
}

.indexButton{
    background-color: #272A3D;
    color: white;
    font-size: 32px;
    padding: 15px 40px;
    border-radius: 10rem;
}

.buttonMain{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

main {
    padding: 2dvw;
    flex-grow: 1;
}

footer{
    background-color: #272A3D;
    color: white;
    padding: 1rem;
}

.footerGrid{
    display: flex;
    gap: 10rem;
}

form{
    padding-bottom: 2rem;
}



/*-------------Style for Register Form-----------*/
.registrationForm {
    padding-top: 10vh;
    padding-bottom: 10vh;
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.containerFormRegister {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3vh;
    width: 55vh; /* Increased width for wider input fields */
}

.registrationForm .header {
    display: flex;
    align-items: center;
}

.registrationForm h1 {
    font-size: 46px;
    font-family: Signika, serif;
}

.registrationForm label {
    display: block;
    font-weight: bold;
    font-size: 36px;
    font-family: Signika-Light, serif;
}

.registrationForm input {
    width: 100%;
    padding: 8px; /* Maintained padding to keep the height consistent */
    margin-bottom: 10px; /* Added margin for better spacing */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.indexButtonLogin {
    display: flex;
    background-color: #B4CDED;
    padding: 10px 40px;
    border: none;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
}

.indexButtonLogin a {
    color: #272A3D;
    text-decoration: none;
    font-family: Signika-Light, serif;
    font-size: 32px;
    font-weight: bold;
}

/*---------------------------- Style For Login Form-----------------------*/
.loginForm {
    padding-top: 10vh;
    padding-bottom: 10vh;
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.containerForm{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3vh;
}

.centeringElementsLoginForm{
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm .header {
    display: flex;
    align-items: center;
}

.loginForm h1 {
    font-size: 46px;
    font-family: Signika, serif;
}

.loginForm label {
    display: block;
    font-weight: bold;
    font-size: 36px;
    font-family: Signika-Light, serif;
}

.loginForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.indexButtonLogin {
    display: flex;
    background-color: #B4CDED;
    padding: 10px 40px;
    border: none;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
}

.indexButtonLogin a {
    color: #272A3D;
    text-decoration: none;
    font-family: Signika-Light, serif;
    font-size: 32px;
    font-weight: bold;
}

.forgotPassword {
    text-align: right;
}

.forgotpasswordText{
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.forgotPassword a:hover {
    text-decoration: underline;
}
/* Profile?*/
.wrapper {
	max-width: 1200px;
	margin: 50px auto;
}

.input_wrapper label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 20px;
}

.input_wrapper input {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.button {
	border-radius: 100px;
	font-weight: bold;
	background: #b4ccee;
	font-size: 20px;
	padding: 10px 20px;
}
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}


/*--------------------Style for Upload Page-----------------*/

.docButton button{
    border: none;
    padding: 1rem;
}

.textButton button{
    border: none;
    padding: 1rem;
}

/*WIP since the whole page is component*/